.HT{
   background-color: red;
}
.CS{
    background-color: yellowgreen;
 }
 .ME{
    background-color: red;
 }
 .DATA{
    background-color: yellowgreen;
 }
 .PYTH{
    background-color: red;
 }
 .ANG{
    background-color: yellowgreen;
 }
 .REA{
    background-color: red;
 }